---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import content from "../content.json";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Byt3roof - Software Development" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            href="/favicon_dark.png"
            media="(prefers-color-scheme: dark)"
        />
        <link
            rel="icon"
            href="/favicon_light.png"
            media="(prefers-color-scheme: light)"
        />
        <meta name="generator" content={Astro.generator} />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body>
        <Header data={content.header} />
        <slot />
        <Footer data={content.footer} />
    </body>
</html>
